<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CP-GDS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <style type="text/css">
        /*Estilos CSS propios*/

        .fondo {
            background: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-school-season-back-to-school-season-blue-cartoon-image_11809.jpg");
            background-color: black;
            background-position: center;
        }
    </style>


</head>

<body>
    <div class="p-5 bg-light fondo">
        <!--Título de la página-->
        <h1 class="text-dark p-1 text-center ">SEDES</h1>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
            </script>


    </div>
    <!--Navbar-->
    <div class="text-dark bg-primary">
        <nav class="navbar navbar-expand-lg  ">
            <div class="container-fluid">
                <a class="navbar-brand text-dark fw-bold" href="#">Navegación</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!--Primer item del navtab-->
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Inicio</a>
                        </li>
                        <!--Segundo item del navtab-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Institución
                            </a>
                            <!--Subitems del navtab 2-->
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{url_for('autoridades')}}">Autoridades</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{url_for('mision')}}">Mision</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{url_for('mision')}}">Vision</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{url_for('objetivosInstitucionales')}}">Valores
                                        Institucionales</a></li>
                            </ul>
                        </li>
                        <!--Tercer item del navtab-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Historia
                            </a>
                            <!--Subitems del navtab 3-->
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{url_for('conocenos')}}">Conocenos</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{url_for('galeriaDirectores')}}">Galeria de
                                        Directores</a></li>
                            </ul>
                        </li>
                        <!--Cuarto item del navtab-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Interes
                            </a>
                            <!--Subitems del navtab 4-->
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{url_for('noticias')}}">Noticias</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{url_for('actividadesFuturas')}}">Actividades
                                        Futuras</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{url_for('ingreso')}}">Ingreso notas</a></li>
                            </ul>
                        </li>
                        <!--Quinto item del navtab-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Sedes
                            </a>
                            <!--Subitems del navtab 5-->
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{url_for('quito')}}">Quito</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{url_for('quito')}}">Sangolquí</a></li>
                            </ul>
                        </li>
                        <!--Sexto item del navtab-->
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('contacto')}}">Contacto</a>
                        </li>
                        <!--Septimo item del navtab-->
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="{{url_for('politicasPrivacidad')}}">Políticas de Privacidad</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <br>
    <!--Cards-->
    <div class="card mb-3">
        <img src="https://educacion.gob.ec/wp-content/uploads/2017/09/WhatsApp-Image-2017-09-05-at-8.07.08-PM.jpeg"
            class="card-img-top mx-auto" alt="..." style="max-height: 250px; max-width: 700px;">
        <div class="card-body">
            <h5 class="card-title text-center fs-1">Sede Sangolquí</h5>
            <p class="card-text text-center fs-3">La Institución Educativa comenzó sus labores como “CARDENAL SPELLMAN
                SCHOOL”, con un total de 238 estudiantes, distribuidos en cinco grados de Primaria. Esta noble
                Institución no habría visto la luz de no ser por el Arzobispo de Quito, Cardenal Carlos María De La
                Torre, gestor de la creación del Colegio Spellman, el Mons. Cándido Rada, sdb. quien fue el promotor y
                ejecutor del proyecto, además del Cardenal Francis Spellman, que con su colaboración económica logró ver
                tan magna obra se cristalice, motivo por el cual nuestra Institución, en gratitud lleva su nombre además
                el Padre. Pedro Ladetto, sdb, quien por sus reconocidas cualidades, fue designado su primer Director.
                <br>


                La Institución fue creada con el fin de llenar un vacío en la educación católica de Quito, que
                necesitaba un Colegio Bilingüe. Su ideal era impartir una educación cristiana, moderna e integral y
                llegar a ser uno de los mejores y más prestigiosos colegios de la República del Ecuador para ofrecer a
                la sociedad positivos aportes humanos que labraran la grandeza de la Patria.

                <br>

                La educación que se ofertaba desde sus inicios estaba fundamentada en el pensamiento pedagógico de Don
                Bosco, siendo el Sistema Preventivo su síntesis vital. En 1958 se incorpora la sección secundaria,
                incrementándose el número de estudiantes a 465.

                <br>

                Los primeros años, llenos de vida y de dificultades, en los que la necesidad era la principal consejera,
                hicieron del Spellman una institución verdaderamente respetable en el campo educativo. En 1964, se
                incorporaban los PRIMEROS BACHILLERES, dejando el ejemplo de su entusiasmo, voluntad de triunfar y su
                apego al Colegio y a la causa salesiana.
                <br>


                La creciente demanda por acceder a la educación que ofertaba la Institución exigía el trazo de nuevas
                rutas educativas, una moderna organización y recursos de novísima instancia. Las diferentes gestiones
                permitieron en corto tiempo, que el colegio contara con un moderno edificio, biblioteca, amplias canchas
                verdes y sombreadas para los diversos deportes, material audiovisual, gabinetes y laboratorios de
                Ciencias, considerados como de los mejores que tenía el Ecuador en ese entonces. Se consolidaba así la
                presencia del Spellman en la sociedad ecuatoriana.

                <br>

                Sin lugar a dudas, el estandarte del Spellman ha calado profundo en el hontanar educativo, destacándose
                por sus logros en los ámbitos científicos, culturales, deportivos y sociales. Los titulares de
                “Spellman” Campeón, en toda su trayectoria, han sido muy frecuentes y su aporte como pionero de las
                grandes Ferias de Ciencias ha dejado muy en alto el nombre del Plantel.

                <br>

                Todo cambio ha sido programado y planificado cuidadosamente en servicio a la comunidad y para nuestra
                querida juventud, permitiendo que, en la actualidad, en el Spellman se privilegie un clima familiar
                cooperativo, solidario, dialógico, democrático y de confianza, favorable a la creatividad con
                participación de todos los integrantes de la Unidad Educativa.
                <br>


                A lo largo de la vida Institucional seguimos trabajando para construir una cultura Institucional y
                valores propios que la hacen congruente para actuar de conformidad con los objetivos y funciones a debe
                desempeñar como Centro Innovador para forma parte del Sistema Educativo Salesiano y nacional, que se
                cuente, además, con políticas, planes y micro-proyectos educativos coherentes y eficaces, planificados a
                corto, mediano y largo plazo, ampliamente compartidos y asumidos por toda la Comunidad Educativa, todo
                esto a la luz del Proyecto Inspectorial de Educación Salesiana (PIES).
                <br>


                A decir de Monseñor Néstor Montesdeoca B. sdb., la semilla de vida y esperanza sembrada en los inicios
                del Colegio, ha ido creciendo y progresando día a día hasta convertirse luego de 60 años en un árbol
                frondoso y fecundo, cuyos frutos generosos han beneficiado y continuarán beneficiando a la sociedad
                ecuatoriana, formando desde la educación con el amparo del sello pedagógico de Don Bosco “buenos
                cristianos y honrados ciudadanos”, buenos cristianos para la Iglesia y honestos ciudadanos al servicio
                de la Patria.
                <br>
            </p>
        </div>
    </div>
    <div class="card">
        <img src="https://ecuadorec.com/wp-content/uploads/2017/05/Los-20-Mejores-Colegios-de-Quito.jpg"
            class="card-img-top mx-auto" alt="..." style="max-height: 250px; max-width: 700px;">
        <div class="card-body">
            <h5 class="card-title text-center fs-1">Sede Quito</h5>
            <p class="card-text text-center fs-3">En 1862 el entonces presidente Gabriel García Moreno trajo a los
                jesuitas de vuelta al Ecuador y les encargó el Colegio Nacional en Quito, en parte de las mismas
                instalaciones que ocupó el antiguo colegio jesuita San Luis durante los años de la Colonia, junto a la
                iglesia de La Compañía, en pleno centro del antiguo Quito. El colegio sería rebautizado como San
                Gabriel.
                <br>
                Por 40 años se mantuvo como colegio nacional, subsidiado por el Estado, hasta que los gobiernos
                liberales de finales del Siglo XIX le llevaron a convertirse en colegio privado; eso sí, continuaba
                regentado por los jesuitas.
                <br>
                Durante todo el Siglo XX el San Gabriel pasó por diferentes modos e intensidades de control estatal,
                pero continuó creciendo en número y en prestigio, sirviendo no solo a la ciudad de Quito sino a jóvenes
                de todo el Ecuador.
                <br>
                En 1958 se mudó de local, pasando a las instalaciones actuales en la avenida América, en el norte de la
                ciudad. En los primeros años del presente siglo, se realizaron mejoras en ese edificio: aumentó el
                número de aulas, mejoraron los laboratorios y se edificó la piscina temperada cubierta, entre otras
                renovaciones.
                <br>
                En 2011, un año antes de celebrar el sesquicentenario de vida institucional y como respuesta a la
                Constitución del 2008, a la nueva ley educativa y a sus reglamentos, el colegio abrió el primer año de
                educación básica (niños y niñas de 5 años de edad). Cada año, hasta el 2017, se incrementó un nivel más
                hasta completar la Unidad Educativa.
                <br>
                La estructura del edificio del plantel también se ha visto obligado a adaptarse a los nuevos estudiantes
                y a la innovación educativa. En 2013 se construyeron dos nuevos edificios donde se albergan los niveles
                de Inicial y Básica Elemental. En el año 2017 se inauguró el edificio del Bachillerato, que responde a
                las necesidades de estudiantes y docentes de Primero, Segundo y Tercero.
                <br>
                En el año lectivo 2016 – 2017, comenzó un importante cambio educativo, con la aprobación del Ministerio
                de Educación para implementar el proyecto Innov Acción XXI, que dio luz verde a los seis colegios
                jesuitas del Ecuador para realizar la transformación educativa. Este cambio no solo involucra una
                metodología de enseñanza, sino que tiene sus bases en cuatro grandes pilares:
                <br>
                Currículo, metodología por proyectos y evaluación
                Rol de docentes y estudiantes
                Organización de la Unidad Educativa
                Espacios de Aprendizaje
                El San Gabriel forma parte de la Confederación Ecuatoriana de Establecimientos de Educación Católica
                (CONFEDEC); de la Red de Unidades Educativas Ignacianas del Ecuador (RUEI) y de la Federación
                Latinoamericana de Colegios de la Compañía de Jesús (FLACSI).
            </p>
        </div>
    </div>
    <br>
    <br>
</body>

<!--Pie de página-->
<div class="fondo ">
    <div class="row justify-content-end">
        <div class="col">
            <h1 class="text-dark p-4 ">CP-GDS</h1>
        </div>
        <div class="col">
            <footer class="text-end text-dark p-3">
                &copy; Elaborado por: Capt Castro Leopoldo<br>
                km 24 1/2 vía Quevedo<br>
                2022
            </footer>
        </div>
    </div>
</div>

</html>